/* Common styling */
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

/* Styling specific to each mode */
body.light-mode {
    background-color: #F5E9D3; /* Updated to a beige tone */
    color: #333;
}

body.dark-mode {
    background-color: #2B1B3B; /* Updated to a dark purple tone */
    color: #E5D0F1; /* A softer purple tone for text in dark mode */
}

/* Toggle button styling */
.toggle-container {
    display: flex;
    justify-content: flex-end;
}

input[type="checkbox"]#switch {
    display: none;
}

label#toggleButton {
    display: block;
    height: 25px;
    width: 50px;
    background: linear-gradient(to right, #4c69a5, grey); /* Gradient */
    position: relative;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

label#toggleButton:before {
    content: "";
    display: block;
    height: 21px;
    width: 21px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: white;
    border-radius: 50%;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked + label#toggleButton {
    background: linear-gradient(to right, #2B1B3B, #4c69a5); /* Gradient */
}

input[type="checkbox"]:checked + label#toggleButton:before {
    transform: translatex(24px);
}

/* Tab button styling */
#tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: background 0.3s ease;
    background: linear-gradient(to right, #F5E9D3, #ddd); /* Gradient */
}

.tab:hover {
    filter: brightness(1.2);
}

body.dark-mode .tab {
    border: 1px solid #E5D0F1; /* Soft purple */
    color: #E5D0F1; /* Soft purple */
    background: linear-gradient(to right, #4F3379, #2B1B3B); /* Gradient */
}

body.dark-mode .tab:hover  {
    filter: brightness(1.2);
}

.active {
    background: linear-gradient(to right, #ddd, #fbda9c); /* Gradient */
}

body.dark-mode .active {
    background: linear-gradient(to right, #2B1B3B, #948ba2); /* Gradient */
}

/* CV content styling */
#cv-content {
    background: #F5E9D3; /* Beige */
    padding: 20px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

body.dark-mode #cv-content {
    background: #2B1B3B; /* Dark purple */
}

.card {
    background: linear-gradient(to right, #F5E9D3, white); /* Gradient */
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

body.dark-mode .card {
    background: linear-gradient(to right, #4F3379, #2B1B3B); /* Gradient */
}
